.container {
    border: 2px solid black;
    margin: auto;
    text-align: center;
    width: 80%;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

.background {
    background-color: grey;
    overflow: hidden;
    height: 100vh;
}

#key, #keyCode {
    font-size: 50px;
}

#keySpan, #keyCodeSpan {
    font-size: 75px;
}

#history {
    height: 50%;
    overflow-y: auto;
    border: 2px solid black;
    width: 80%;
    margin: auto;
}

.listStyle {
    list-style: none;
    margin-left: -50px;
}

.listItemStyle {
    border-bottom: 1px solid black;
    font-size: 30px;
}

#hTitle {
    font-size: 40px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
    #history {
        height: 35%;
    }

    .listItemStyle{
      
        font-size: 20px;
    }
}

#clrBtN{
   /* flex: auto; */
   height: 30px;
   margin-top: 60px;
   width: 15%;
   margin-left: 10px;
}

.historyDiv{
    display:flex;
    /* text-align: center; */
    flex-wrap: wrap;
    justify-content: center;
}